/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 100%;
  height: 0;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* home content */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: 'poopins', serif;
}
.home .img{
    flex: 1 1 400px;
}
.home .img img{
    width: 90%;

}
.home .content{
    flex: 1 1 400px;
    margin-top: 30px;
}