*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */
#navbar{
    background-color: #1876c3;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}
#navbar .nav-link{
    color: white;
    font-weight: 100;
    margin-left: 40px;
    transition: 0.5s ease;
}
/* navbar */
/* home content */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: 'poopins', serif;
}
.home .img{
    flex: 1 1 400px;
}
.home .img img{
    width: 90%;

}
.home .content{
    flex: 1 1 400px;
    margin-top: 30px;
}
.content h3{
    margin-left: 70px;
    font-size: 40px;
    color: #000000;
    font-weight:100;
}
.content h3 span{
    font-size: 40px;
}
.content p{
    margin-left: 70px;
    color: #1c1c50;
}